<p id=notice><%= notice %></p>
<%= render "form", reservation: @reservation %>

<%= link_to '削除', admin_reservation_path, method: :delete, data: { confirm: '本当に削除しますか？' } %>
<%= link_to 'Back', admin_reservations_path %>